USE [master]
GO
/****** Object:  Database [SAAEvo]    Script Date: 12/30/2015 05:08:20 ******/
CREATE DATABASE [SAAEvo] ON  PRIMARY 
( NAME = N'SAAEvo', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SAAEvo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SAAEvo_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SAAEvo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAAEvo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAAEvo]
GO
/****** Object:  Table [dbo].[VendorNumberCheck]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorNumberCheck](
	[VendorNumber] [int] NOT NULL,
 CONSTRAINT [PK_VendorNumberCheck] PRIMARY KEY CLUSTERED 
(
	[VendorNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VendorNumberCheck] ([VendorNumber]) VALUES (3)
/****** Object:  Table [dbo].[Vendor]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorNumber] [nchar](10) NOT NULL,
	[VendorName] [nchar](80) NULL,
	[Company] [nchar](100) NULL,
	[Website] [nchar](80) NULL,
	[Address] [nchar](200) NULL,
	[Email] [nchar](80) NULL,
	[Phone] [nchar](20) NULL,
	[Fax] [nchar](80) NULL,
	[Street] [nchar](20) NULL,
	[State] [nchar](20) NULL,
	[Acccount] [nchar](50) NULL,
	[OpeningBalance] [numeric](18, 2) NULL,
	[CreditLimit] [numeric](18, 2) NULL,
	[EmailPreference] [bit] NULL,
	[SMSPreference] [bit] NULL,
	[Active] [bit] NULL,
	[Classification] [nchar](50) NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](50) NULL,
	[password] [nchar](10) NULL,
	[Role] [nchar](30) NULL,
	[DateCreated] [date] NULL,
	[Active] [bit] NULL,
	[Location] [nchar](80) NULL,
	[Store] [nchar](80) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([userID], [UserName], [password], [Role], [DateCreated], [Active], [Location], [Store]) VALUES (5, N'Admin                                             ', N'654321    ', N'                              ', CAST(0xCE3A0B00 AS Date), 1, N'UNIVERSAL                                                                       ', N'UNIVERSAL                                                                       ')
INSERT [dbo].[Users] ([userID], [UserName], [password], [Role], [DateCreated], [Active], [Location], [Store]) VALUES (6, N'lala                                              ', N'lala      ', N'                              ', CAST(0xD23A0B00 AS Date), 1, N'KADUNA                                                                          ', N'ZARIA ROAD                                                                      ')
INSERT [dbo].[Users] ([userID], [UserName], [password], [Role], [DateCreated], [Active], [Location], [Store]) VALUES (7, N'regina                                            ', N'regina    ', N'                              ', CAST(0xD63A0B00 AS Date), 0, N'JOS                                                                             ', N'TERMINUS                                                                        ')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserFunctions]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFunctions](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](50) NULL,
	[AssignFunctions] [nchar](50) NULL,
 CONSTRAINT [PK_UserFunctions] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserFunctions] ON
INSERT [dbo].[UserFunctions] ([UserID], [UserName], [AssignFunctions]) VALUES (14, N'ade                                               ', N'Administrator                                     ')
INSERT [dbo].[UserFunctions] ([UserID], [UserName], [AssignFunctions]) VALUES (15, N'admin                                             ', N'Administrator                                     ')
INSERT [dbo].[UserFunctions] ([UserID], [UserName], [AssignFunctions]) VALUES (16, N'admkn                                             ', N'Sales Order                                       ')
SET IDENTITY_INSERT [dbo].[UserFunctions] OFF
/****** Object:  Table [dbo].[subNames]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subNames](
	[subName] [varchar](50) NOT NULL,
	[subCode] [nchar](10) NULL,
	[postingCode] [nchar](10) NULL,
	[notes] [nchar](10) NULL,
	[codeSno] [nchar](10) NULL,
	[groupName] [nchar](10) NULL,
 CONSTRAINT [PK_subNames] PRIMARY KEY CLUSTERED 
(
	[subName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[subNames] ([subName], [subCode], [postingCode], [notes], [codeSno], [groupName]) VALUES (N'Administrative Ex;penses', N'10        ', N'          ', N'          ', N'101       ', N'Expenditur')
INSERT [dbo].[subNames] ([subName], [subCode], [postingCode], [notes], [codeSno], [groupName]) VALUES (N'Current Assets', N'20        ', N'          ', N'          ', N'100       ', N'Assets    ')
INSERT [dbo].[subNames] ([subName], [subCode], [postingCode], [notes], [codeSno], [groupName]) VALUES (N'Current Liabilities', N'10        ', N'          ', N'          ', N'100       ', N'liabilitie')
/****** Object:  Table [dbo].[Store]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nchar](50) NULL,
	[LocationName] [nchar](50) NULL,
	[Storemanager] [nchar](50) NULL,
	[DateOpened] [date] NULL,
	[Prefixx] [nchar](10) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Store] ON
INSERT [dbo].[Store] ([StoreID], [StoreName], [LocationName], [Storemanager], [DateOpened], [Prefixx]) VALUES (1, N'ZARIA ROAD                                        ', N'KADUNA                                            ', N'MR, FRANK                                         ', CAST(0xCA3A0B00 AS Date), N'KZ        ')
INSERT [dbo].[Store] ([StoreID], [StoreName], [LocationName], [Storemanager], [DateOpened], [Prefixx]) VALUES (2, N'TERMINUS                                          ', N'JOS                                               ', N'MR.FEMI                                           ', CAST(0xCA3A0B00 AS Date), N'JT        ')
INSERT [dbo].[Store] ([StoreID], [StoreName], [LocationName], [Storemanager], [DateOpened], [Prefixx]) VALUES (3, N'KAKURI                                            ', N'KADUNA                                            ', N'MR, ADE                                           ', CAST(0xCA3A0B00 AS Date), N'KK        ')
SET IDENTITY_INSERT [dbo].[Store] OFF
/****** Object:  Table [dbo].[SONumberCheck]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONumberCheck](
	[SONumber] [int] NOT NULL,
 CONSTRAINT [PK_SONumberCheck] PRIMARY KEY CLUSTERED 
(
	[SONumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SONumberCheck] ([SONumber]) VALUES (9)
/****** Object:  Table [dbo].[SalesRepStore]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesRepStore](
	[SalesRepID] [int] IDENTITY(1,1) NOT NULL,
	[SalesRepName] [nchar](50) NULL,
	[LocationName] [nchar](50) NULL,
	[StoreName] [nchar](50) NULL,
	[DateOpened] [date] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_SalesRepStore] PRIMARY KEY CLUSTERED 
(
	[SalesRepID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalesRepStore] ON
INSERT [dbo].[SalesRepStore] ([SalesRepID], [SalesRepName], [LocationName], [StoreName], [DateOpened], [Active]) VALUES (1, N'ANDREW AHKIDENOR                                  ', N'KADUNA                                            ', N'ZARIA ROAD                                        ', CAST(0xCF3A0B00 AS Date), 1)
INSERT [dbo].[SalesRepStore] ([SalesRepID], [SalesRepName], [LocationName], [StoreName], [DateOpened], [Active]) VALUES (2, N'GRACE NANA                                        ', N'JOS                                               ', N'TERMINUS                                          ', CAST(0xCF3A0B00 AS Date), 1)
INSERT [dbo].[SalesRepStore] ([SalesRepID], [SalesRepName], [LocationName], [StoreName], [DateOpened], [Active]) VALUES (3, N'JOSEPH AGBO                                       ', N'KADUNA                                            ', N'ZARIA ROAD                                        ', CAST(0xCF3A0B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[SalesRepStore] OFF
/****** Object:  Table [dbo].[SalesOrderSummary]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderSummary](
	[SONumber] [nchar](10) NOT NULL,
	[Customer] [nchar](50) NULL,
	[SODate] [date] NULL,
	[SOStatus] [nchar](10) NULL,
	[SOAmount] [decimal](18, 2) NULL,
	[SODiscount] [decimal](18, 2) NULL,
	[UserName] [nchar](30) NULL,
	[Comment] [nchar](100) NULL,
	[Location] [nchar](20) NULL,
	[Store] [nchar](20) NULL,
 CONSTRAINT [PK_SalesOrderSummary] PRIMARY KEY CLUSTERED 
(
	[SONumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SalesOrderSummary] ([SONumber], [Customer], [SODate], [SOStatus], [SOAmount], [SODiscount], [UserName], [Comment], [Location], [Store]) VALUES (N'JTSO1     ', N'ABDULAZEEZ SIKIRULAH                              ', CAST(0xD83A0B00 AS Date), N'FULFILLED ', CAST(435530.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'nod                           ', N'                                                                                                    ', NULL, NULL)
INSERT [dbo].[SalesOrderSummary] ([SONumber], [Customer], [SODate], [SOStatus], [SOAmount], [SODiscount], [UserName], [Comment], [Location], [Store]) VALUES (N'JTSO2     ', N'ADEOLA BAMIDELE                                   ', CAST(0xD83A0B00 AS Date), N'OUTSTANDIN', CAST(583632.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'nod                           ', N'                                                                                                    ', NULL, NULL)
INSERT [dbo].[SalesOrderSummary] ([SONumber], [Customer], [SODate], [SOStatus], [SOAmount], [SODiscount], [UserName], [Comment], [Location], [Store]) VALUES (N'JTSO3     ', N'ADENIKE ADEBAYO                                   ', CAST(0xD83A0B00 AS Date), N'OUTSTANDIN', CAST(389576.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'nod                           ', N'                                                                                                    ', NULL, NULL)
/****** Object:  Table [dbo].[SalesOrderDetail]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderNumber] [nchar](10) NULL,
	[Customer] [nchar](80) NULL,
	[SODate] [date] NULL,
	[Item] [nchar](80) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Rate] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Comment] [nchar](100) NULL,
	[UserName] [nchar](30) NULL,
	[Delivered] [bit] NULL,
	[QtyOrdered] [decimal](18, 2) NULL,
	[QtyDelivered] [decimal](18, 2) NULL,
	[Location] [nchar](50) NULL,
	[Store] [nchar](50) NULL,
	[SalesInvoiceNumber] [nchar](10) NULL,
	[InvDate] [date] NULL,
	[Type] [nchar](10) NULL,
	[Discount] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SalesDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] ON
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] OFF
/****** Object:  Table [dbo].[SalesInvoice]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoice](
	[Iden] [int] IDENTITY(1,1) NOT NULL,
	[SalesInvoiceNumber] [nchar](10) NULL,
	[SalesOrderNumber] [nchar](10) NULL,
	[InvoiceDate] [date] NULL,
	[Customer] [nchar](80) NULL,
	[Item] [nchar](50) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Rate] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Location] [nchar](80) NULL,
	[Store] [nchar](80) NULL,
	[Discount] [numeric](18, 2) NULL,
	[Tax] [numeric](18, 2) NULL,
	[UserName] [nchar](80) NULL,
	[Type] [nchar](10) NULL,
 CONSTRAINT [PK_SalesInvoice_1] PRIMARY KEY CLUSTERED 
(
	[Iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalesInvoice] ON
SET IDENTITY_INSERT [dbo].[SalesInvoice] OFF
/****** Object:  Table [dbo].[SalesInvNumberCheck]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvNumberCheck](
	[SaleInvNumber] [int] NOT NULL,
 CONSTRAINT [PK_SalesInvNumberCheck] PRIMARY KEY CLUSTERED 
(
	[SaleInvNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SalesInvNumberCheck] ([SaleInvNumber]) VALUES (8)
/****** Object:  Table [dbo].[Roles]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderSummary]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderSummary](
	[PONumber] [nchar](10) NOT NULL,
	[Vendor] [nchar](50) NULL,
	[PODate] [date] NULL,
	[POStatus] [nchar](10) NULL,
	[POAmount] [decimal](18, 2) NULL,
	[PODiscount] [decimal](18, 2) NULL,
	[UserName] [nchar](30) NULL,
	[Comment] [nchar](100) NULL,
	[Store] [nchar](20) NULL,
	[Location] [nchar](20) NULL,
 CONSTRAINT [PK_PurchaseOrderSummary] PRIMARY KEY CLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PurchaseOrderSummary] ([PONumber], [Vendor], [PODate], [POStatus], [POAmount], [PODiscount], [UserName], [Comment], [Store], [Location]) VALUES (N'JTPO1     ', N'GSKNAME                                           ', CAST(0xD83A0B00 AS Date), N'FULFILLED ', CAST(27385300.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'nod                           ', N'                                                                                                    ', N'                    ', N'                    ')
INSERT [dbo].[PurchaseOrderSummary] ([PONumber], [Vendor], [PODate], [POStatus], [POAmount], [PODiscount], [UserName], [Comment], [Store], [Location]) VALUES (N'KKPO1     ', N'PGNAME                                            ', CAST(0xD93A0B00 AS Date), N'PARTIAL   ', CAST(33817300.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'amin                          ', N'                                                                                                    ', N'KAKURI              ', N'KADUNA              ')
INSERT [dbo].[PurchaseOrderSummary] ([PONumber], [Vendor], [PODate], [POStatus], [POAmount], [PODiscount], [UserName], [Comment], [Store], [Location]) VALUES (N'KKPO2     ', N'SGFSGSF                                           ', CAST(0xD93A0B00 AS Date), N'FULFILLED ', CAST(1085320.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'amin                          ', N'                                                                                                    ', N'KAKURI              ', N'KADUNA              ')
/****** Object:  Table [dbo].[PurchaseOrderDetail]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderNumber] [nchar](10) NULL,
	[Vendor] [nchar](80) NULL,
	[PODate] [date] NULL,
	[Item] [nchar](80) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Rate] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Comment] [nchar](100) NULL,
	[UserName] [nchar](30) NULL,
	[Recieved] [bit] NULL,
	[QtyOrdered] [decimal](18, 2) NULL,
	[QtyDelivered] [decimal](18, 2) NULL,
	[Location] [nchar](50) NULL,
	[Store] [nchar](50) NULL,
	[PurchaseInvoiceNumber] [nchar](10) NULL,
	[InvDate] [date] NULL,
	[Type] [nchar](10) NULL,
	[Discount] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PurchaseDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetail] ON
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetail] OFF
/****** Object:  Table [dbo].[PurchaseInvoice]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoice](
	[Iden] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseInvoiceNumber] [nchar](10) NULL,
	[PurchaseOrderNumber] [nchar](10) NULL,
	[InvoiceDate] [date] NULL,
	[Vendor] [nchar](80) NULL,
	[Item] [nchar](50) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Rate] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Location] [nchar](80) NULL,
	[Store] [nchar](80) NULL,
	[Discount] [numeric](18, 2) NULL,
	[Tax] [numeric](18, 2) NULL,
	[UserName] [nchar](80) NULL,
	[Type] [nchar](10) NULL,
 CONSTRAINT [PK_PurchaseInvoice_1] PRIMARY KEY CLUSTERED 
(
	[Iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PurchaseInvoice] ON
SET IDENTITY_INSERT [dbo].[PurchaseInvoice] OFF
/****** Object:  Table [dbo].[PONumberCheck]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PONumberCheck](
	[PONumber] [int] NOT NULL,
 CONSTRAINT [PK_PONumberCheck] PRIMARY KEY CLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PONumberCheck] ([PONumber]) VALUES (8)
/****** Object:  Table [dbo].[NumberChecks]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberChecks](
	[Iden] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nchar](80) NULL,
	[Store] [nchar](80) NULL,
	[SO] [int] NULL,
	[SI] [int] NULL,
	[PO] [int] NULL,
	[PI] [int] NULL,
	[CSI] [int] NULL,
	[CPI] [int] NULL,
 CONSTRAINT [PK_NumberChecks] PRIMARY KEY CLUSTERED 
(
	[Iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NumberChecks] ON
INSERT [dbo].[NumberChecks] ([Iden], [Location], [Store], [SO], [SI], [PO], [PI], [CSI], [CPI]) VALUES (1, N'KADUNA                                                                          ', N'ZARIA ROAD                                                                      ', 2, 8, 9, 9, 8, 0)
INSERT [dbo].[NumberChecks] ([Iden], [Location], [Store], [SO], [SI], [PO], [PI], [CSI], [CPI]) VALUES (2, N'JOS                                                                             ', N'TERMINUS                                                                        ', 3, 3, 1, 2, 0, 0)
INSERT [dbo].[NumberChecks] ([Iden], [Location], [Store], [SO], [SI], [PO], [PI], [CSI], [CPI]) VALUES (3, N'KADUNA                                                                          ', N'KAKURI                                                                          ', 0, 0, 2, 2, 0, 0)
SET IDENTITY_INSERT [dbo].[NumberChecks] OFF
/****** Object:  Table [dbo].[Location]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[locationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nchar](50) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[locationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Location] ON
INSERT [dbo].[Location] ([locationID], [LocationName]) VALUES (1, N'KADUNA                                            ')
INSERT [dbo].[Location] ([locationID], [LocationName]) VALUES (2, N'ZARIA                                             ')
INSERT [dbo].[Location] ([locationID], [LocationName]) VALUES (3, N'JOS                                               ')
SET IDENTITY_INSERT [dbo].[Location] OFF
/****** Object:  Table [dbo].[ItemTrans]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTrans](
	[TransID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nchar](50) NULL,
	[DateTrans] [date] NULL,
	[Price] [numeric](18, 2) NULL,
	[Issued] [numeric](18, 2) NULL,
	[Recieved] [numeric](18, 2) NULL,
	[SalesRepName] [nchar](50) NULL,
	[LocationName] [nchar](50) NULL,
	[StoreName] [nchar](50) NULL,
	[Comment] [nchar](10) NULL,
	[TotalAmount] [numeric](18, 2) NULL,
	[Source] [nchar](50) NULL,
	[Destination] [nchar](50) NULL,
	[UserName] [nchar](50) NULL,
 CONSTRAINT [PK_ItemTrans] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemTrans] ON
SET IDENTITY_INSERT [dbo].[ItemTrans] OFF
/****** Object:  Table [dbo].[Items]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[FPC] [nchar](10) NOT NULL,
	[Description] [nchar](50) NULL,
	[Brand] [nchar](20) NULL,
	[Price] [numeric](18, 2) NULL,
	[Su] [numeric](18, 2) NULL,
	[CaseCount] [int] NULL,
	[Quantity] [numeric](18, 2) NULL,
	[DateOpened] [date] NULL,
	[SKU] [nchar](50) NULL,
	[UserName] [nchar](50) NULL,
	[SellingPrice] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[FPC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Items] ([FPC], [Description], [Brand], [Price], [Su], [CaseCount], [Quantity], [DateOpened], [SKU], [UserName], [SellingPrice]) VALUES (N'80204060  ', N'ORAL-B PLUS HTDC                                  ', N'ORAL B              ', CAST(3400.00 AS Numeric(18, 2)), CAST(34.00 AS Numeric(18, 2)), 90, CAST(0.00 AS Numeric(18, 2)), CAST(0xBE3A0B00 AS Date), N'7688                                              ', NULL, CAST(2300.00 AS Numeric(18, 2)))
INSERT [dbo].[Items] ([FPC], [Description], [Brand], [Price], [Su], [CaseCount], [Quantity], [DateOpened], [SKU], [UserName], [SellingPrice]) VALUES (N'81296057  ', N'ARIEL 30G                                         ', N'ARIEL               ', CAST(1857.05 AS Numeric(18, 2)), CAST(0.33 AS Numeric(18, 2)), 25, CAST(0.00 AS Numeric(18, 2)), CAST(0xCF3A0B00 AS Date), N'1234                                              ', NULL, CAST(4353.00 AS Numeric(18, 2)))
INSERT [dbo].[Items] ([FPC], [Description], [Brand], [Price], [Su], [CaseCount], [Quantity], [DateOpened], [SKU], [UserName], [SellingPrice]) VALUES (N'81371149  ', N'ARIEL 90G                                         ', N'ARIEL               ', CAST(2730.96 AS Numeric(18, 2)), CAST(0.23 AS Numeric(18, 2)), 25, CAST(0.00 AS Numeric(18, 2)), CAST(0xCF3A0B00 AS Date), N'9870                                              ', NULL, CAST(5656.00 AS Numeric(18, 2)))
/****** Object:  Table [dbo].[ItemCategory]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategory](
	[ItemCategoryCode] [int] IDENTITY(1,1) NOT NULL,
	[ItemCategoryName] [nchar](40) NULL,
 CONSTRAINT [PK_ItemCategory] PRIMARY KEY CLUSTERED 
(
	[ItemCategoryCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemCategory] ON
INSERT [dbo].[ItemCategory] ([ItemCategoryCode], [ItemCategoryName]) VALUES (1, N'Inventory                               ')
INSERT [dbo].[ItemCategory] ([ItemCategoryCode], [ItemCategoryName]) VALUES (2, N'Non Inventory                           ')
SET IDENTITY_INSERT [dbo].[ItemCategory] OFF
/****** Object:  Table [dbo].[ItemBalances]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBalances](
	[TransID] [int] IDENTITY(1,1) NOT NULL,
	[DateTrans] [date] NULL,
	[Items] [nchar](50) NULL,
	[Price] [numeric](18, 2) NULL,
	[Issued] [numeric](18, 2) NULL,
	[Recieves] [numeric](18, 2) NULL,
	[comment] [nchar](100) NULL,
	[TotalAmount] [numeric](18, 2) NULL,
	[SourceDestination] [nchar](100) NULL,
	[UserName] [nchar](50) NULL,
	[Balance] [numeric](18, 2) NULL,
 CONSTRAINT [PK_ItemBalances] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemBalances] ON
SET IDENTITY_INSERT [dbo].[ItemBalances] OFF
/****** Object:  Table [dbo].[Item]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemCode] [nchar](10) NOT NULL,
	[Description] [nchar](50) NULL,
	[Category] [nchar](50) NULL,
	[QuantityOnHand] [decimal](18, 2) NULL,
	[ReOrderLevel] [decimal](18, 2) NULL,
	[LastUnitPrice] [decimal](18, 2) NULL,
	[AvgUnitPrice] [decimal](18, 2) NULL,
	[LastSellingPrice] [decimal](18, 2) NULL,
	[CurrentSellingPrice] [decimal](18, 2) NULL,
	[IncomeAccount] [nchar](80) NULL,
	[AssetAccount] [nchar](80) NULL,
	[Date] [date] NULL,
	[SKUNumber] [nchar](10) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupNames]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[groupNames](
	[groupName] [varchar](50) NOT NULL,
	[groupCode] [nchar](10) NULL,
	[postingCode] [nchar](10) NULL,
 CONSTRAINT [PK_groupNames] PRIMARY KEY CLUSTERED 
(
	[groupName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[groupNames] ([groupName], [groupCode], [postingCode]) VALUES (N'Assets', N'1         ', N'          ')
INSERT [dbo].[groupNames] ([groupName], [groupCode], [postingCode]) VALUES (N'Expenditures', N'5         ', N'          ')
INSERT [dbo].[groupNames] ([groupName], [groupCode], [postingCode]) VALUES (N'Financed By', N'3         ', N'          ')
/****** Object:  Table [dbo].[generalLedger]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[generalLedger](
	[accountCode2] [varchar](50) NULL,
	[postingCode] [varchar](50) NULL,
	[accountName] [varchar](50) NULL,
	[accountCode] [varchar](50) NULL,
	[subName] [varchar](50) NULL,
	[subCode] [varchar](50) NULL,
	[groupName] [varchar](50) NULL,
	[groupCode] [varchar](50) NULL,
	[debit] [float] NULL,
	[credit] [float] NULL,
	[amount] [float] NULL,
	[code] [varchar](50) NULL,
	[notes] [varchar](50) NULL,
	[paymentMethod] [varchar](50) NULL,
	[receiptNo] [varchar](50) NULL,
	[surname] [varchar](50) NULL,
	[balance] [float] NULL,
	[address] [varchar](80) NULL,
	[bankName] [varchar](50) NULL,
	[bankAccountNo] [varchar](50) NULL,
	[bankAccountName] [varchar](50) NULL,
	[particulars] [varchar](150) NULL,
	[username] [varchar](50) NULL,
	[dtime] [varchar](50) NULL,
	[authorStatus] [varchar](50) NULL,
	[companyName] [varchar](50) NULL,
	[dfyear] [int] NULL,
	[approved] [varchar](50) NULL,
	[deptName] [varchar](50) NULL,
	[transtype] [varchar](50) NULL,
	[transdate] [datetime] NULL,
	[transdate2] [datetime] NULL,
	[transdate3] [datetime] NULL,
	[transdatePosted] [datetime] NULL,
	[paymentVoucherNo] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Function]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[FunctionID] [int] IDENTITY(1,1) NOT NULL,
	[FuctionName] [nchar](80) NULL,
 CONSTRAINT [PK_Function] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Function] ON
INSERT [dbo].[Function] ([FunctionID], [FuctionName]) VALUES (1, N'Sales Order                                                                     ')
INSERT [dbo].[Function] ([FunctionID], [FuctionName]) VALUES (2, N'Sales invoice                                                                   ')
INSERT [dbo].[Function] ([FunctionID], [FuctionName]) VALUES (5, N'Sales Return                                                                    ')
SET IDENTITY_INSERT [dbo].[Function] OFF
/****** Object:  Table [dbo].[CustomerNumberCheck]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerNumberCheck](
	[CustomerNumber] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerNumberCheck] ([CustomerNumber]) VALUES (0)
/****** Object:  Table [dbo].[Customer]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerNumber] [nchar](10) NOT NULL,
	[CustomerName] [nchar](80) NULL,
	[Company] [nchar](100) NULL,
	[Website] [nchar](80) NULL,
	[Address] [nchar](200) NULL,
	[Email] [nchar](80) NULL,
	[Phone] [nchar](20) NULL,
	[Fax] [nchar](80) NULL,
	[Street] [nchar](20) NULL,
	[State] [nchar](20) NULL,
	[Acccount] [nchar](50) NULL,
	[OpeningBalance] [numeric](18, 2) NULL,
	[CreditLimit] [numeric](18, 2) NULL,
	[EmailPreference] [bit] NULL,
	[SMSPreference] [bit] NULL,
	[Active] [bit] NULL,
	[Classification] [nchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clasification]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clasification](
	[ClassificationID] [int] IDENTITY(1,1) NOT NULL,
	[Classification] [nchar](50) NULL,
 CONSTRAINT [PK_Clasification] PRIMARY KEY CLUSTERED 
(
	[ClassificationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clasification] ON
INSERT [dbo].[Clasification] ([ClassificationID], [Classification]) VALUES (1, N'WHOLE SALER                                       ')
INSERT [dbo].[Clasification] ([ClassificationID], [Classification]) VALUES (2, N'RETAILER                                          ')
INSERT [dbo].[Clasification] ([ClassificationID], [Classification]) VALUES (3, N'SUB DISTRIBUTOR                                   ')
SET IDENTITY_INSERT [dbo].[Clasification] OFF
/****** Object:  Table [dbo].[chartActs]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chartActs](
	[accountCode] [varchar](50) NULL,
	[accountName] [varchar](50) NULL,
	[subName] [varchar](50) NULL,
	[subCode] [varchar](50) NULL,
	[groupCode] [varchar](50) NULL,
	[groupName] [varchar](50) NULL,
	[code] [varchar](50) NULL,
	[notes] [varchar](50) NULL,
	[postingCode] [varchar](50) NULL,
	[sortCode] [int] NULL,
	[acctType] [varchar](50) NULL,
	[accountStatus] [varchar](50) NULL,
	[dmonthName] [varchar](50) NULL,
	[bankName] [varchar](50) NULL,
	[accountNo] [varchar](50) NULL,
	[budget] [float] NULL,
	[bankAct] [varchar](50) NULL,
	[userName] [varchar](50) NULL,
	[transdate] [datetime] NULL,
	[datePosted] [datetime] NULL,
	[debit] [float] NULL,
	[credit] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[chartActs] ([accountCode], [accountName], [subName], [subCode], [groupCode], [groupName], [code], [notes], [postingCode], [sortCode], [acctType], [accountStatus], [dmonthName], [bankName], [accountNo], [budget], [bankAct], [userName], [transdate], [datePosted], [debit], [credit]) VALUES (N'510100', N'fuel and Oil', N'Administrative Ex;penses', N'10        ', N'5         ', N'Expenditures', N'', N'', N'', 0, N'', N'', N'', N'', N'510100', 0, N'', N'', CAST(0x0000A56B00000000 AS DateTime), CAST(0x0000A56B00000000 AS DateTime), 0, 0)
INSERT [dbo].[chartActs] ([accountCode], [accountName], [subName], [subCode], [groupCode], [groupName], [code], [notes], [postingCode], [sortCode], [acctType], [accountStatus], [dmonthName], [bankName], [accountNo], [budget], [bankAct], [userName], [transdate], [datePosted], [debit], [credit]) VALUES (N'410100', N'Products', N'Sales', N'10        ', N'4         ', N'Income', N'', N'', N'', 0, N'', N'', N'', N'', N'410100', 0, N'', N'', CAST(0x0000A56B00000000 AS DateTime), CAST(0x0000A56B00000000 AS DateTime), 0, 0)
/****** Object:  Table [dbo].[Brand]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON
INSERT [dbo].[Brand] ([BrandID], [BrandName]) VALUES (1, N'FEMCARE                                           ')
INSERT [dbo].[Brand] ([BrandID], [BrandName]) VALUES (2, N'BABYCARE                                          ')
INSERT [dbo].[Brand] ([BrandID], [BrandName]) VALUES (3, N'ARIEL                                             ')
SET IDENTITY_INSERT [dbo].[Brand] OFF
/****** Object:  Table [dbo].[Bank]    Script Date: 12/30/2015 05:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[BankCode] [int] NOT NULL,
	[BankName] [nchar](80) NULL,
	[BankAcctNum] [nchar](20) NULL,
	[Website] [nchar](80) NULL,
	[Address] [nchar](200) NULL,
	[Email] [nchar](80) NULL,
	[Phone] [nchar](20) NULL,
	[Fax] [nchar](80) NULL,
	[Street] [nchar](20) NULL,
	[State] [nchar](20) NULL,
	[Acccount] [nchar](20) NULL,
	[Contact] [nchar](20) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[BankCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
